<div class="modal-component">
  <app-modal-head
    (closeModal)="onClose()"
    [modalTitle]="modalTitle">
  </app-modal-head>

  <div class="modal-body">
    <div class="form-group">
      <label [innerHTML]="gatewayIdLabel" for="gatewayId"></label>
      <span class="ml-1 label-required">*</span>
      <input
        [(ngModel)]="gateway.id"
        class="form-control"
        id="gatewayId"
        type="text">
    </div>

    <app-selected-devices
      [createDevice]="createDevice"
      [sendViaGateway]="true"
      [device]="device"
      [tenantId]="tenantId"
      [devices]="devices"
      [deviceListCount]="deviceListCount"
      [pageSize]="pageSize"
      (pageOffsetChanged)="onPageOffsetChanged($event)"
      (selectedDevicesChanged)="onSelectedDevicesChanged($event)">
    </app-selected-devices>
  </div>

  <app-modal-footer
    (cancelButtonPressed)="onClose()"
    (confirmButtonPressed)="onConfirm()"
    [buttonDisabled]="isInvalid()"
    [confirmButtonLabel]="confirmButtonLabel">
  </app-modal-footer>

</div>
