.list-head, .list-item {
  .ml-auto {
    margin-left: auto !important;
  }
}

.table {
  th {
    font-weight: 600;
    line-height: 1.2;
  }

  .sortable {
    &:hover {
      color: var(--secondary);
      cursor: pointer;

      span:before,
      span:after {
        color: var(--secondary) !important;
      }
    }

    &.sort-desc,
    &.sort-asc {
      span:after {
        font-weight: 600;
        content: url('../../assets/images/sort-up-solid.svg');
        display: block;
        width: 12px;
        height: 20px;
      }
    }

    &.sort-desc {
      span:before,
      span:after {
        transform: rotate(180deg);
      }
    }

    > span {
      display: inline-flex;
      padding-right: 24px;
      position: relative;

      &:before,
      &:after {
        transition: all 250ms ease;
        color: black;
        font-weight: 600;
        font-size: 20px;
        align-items: center;
        justify-content: center;
        line-height: 1;
        display: flex;
        height: 100%;
        width: 20px;
        position: absolute;
        top: 0;
        right: 0;
      }

      &:before {
        content: url('../../assets/images/sort-solid.svg');
        display: block;
        width: 12px;
        height: 20px;
        opacity: 0.25;
        z-index: 1;
      }

      &:after {
        z-index: 2;
      }
    }
  }

  .list-item {
    border-top: 1px solid #ccc;
    font-size: 15px;
    &:hover {
      background-color: var(--backgroundlight);
    }
    > .selectElement {
      cursor: pointer;
      color: black;
    }

    .last-column {
      button {
        padding: 2px 5px;

        &:first-child {
          margin-right: 5px;
        }
      }
    }

    .form-check, .form-switch {
      font-size: 14px;
      padding-top: 0.5em;
    }
  }
}
