.modal-header .close {
  outline: none !important;
}

ngb-modal-backdrop {
  z-index: 1050 !important;
}

.modal-component {
  width: 90%;
  margin: 0.5rem auto;

  .modal-header {
    .modal-title {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }

  .modal-body {
    .form-group {
      margin: 1rem 0;

      label {
        margin-bottom: 0.5rem;
        font-weight: 550;
        font-size: 1rem;
        padding-right: 2px;
      }

      h6 {
        font-size: 1.1rem;
      }
    }

    .form-check:first-child {
      margin-top: 1rem;
    }

    .modal-buttons {
      margin-top: 2rem;
    }

  }

  .modal-footer-inner {
    width: 100%;
  }

}
