<div class="input-group">
  <input #start="ngbDatepicker"
         (change)="onFocusOut()" [maxDate]="maxDate"
         (click)="start.toggle()"
         (dateSelect)="onFocusOut()"
         (focusout)="onFocusOut()"
         [(ngModel)]="date"
         [footerTemplate]="footerTemplate"
         class="form-control bg-white"
         id="date"
         ngbDatepicker
         readonly>

  <input type="text" class="form-control bg-white2" (click)="start.toggle()" [value]="getTimeString(time)" readonly>

  <ng-template #footerTemplate>
    <div class="pt-1 pb-2 px-2">
      <hr>
      <h6 class="h6">Set time</h6>
      <div class="form-row">
        <div class="col">
          <ngb-timepicker (change)="onFocusOut()"
                          (focusout)="onFocusOut()"
                          [(ngModel)]="time"
                          [seconds]="true"
                          id="startTime">
          </ngb-timepicker>
        </div>
      </div>
    </div>
  </ng-template>

  <button (click)="start.toggle()" class="btn btn-outline-secondary" type="button">
    <fa-icon [icon]="['fas', 'calendar']"></fa-icon>
  </button>

</div>
<div *ngIf="showTimezoneOffsetMessage()">
  <div class="timezoneOffset alert alert-dark text-center">
    <span [innerHTML]="getTimezoneOffsetMessage()"></span>
  </div>
</div>
