<div class="modal-component">
  <app-modal-head
    (closeModal)="onClose()"
    [modalTitle]="modalTitle">
  </app-modal-head>

  <div class="modal-body">
    <div class="form-group">
      <label [innerHTML]="authIdLabel" for="authId"></label>
      <span class="ml-1 label-required">*</span>
      <input
        [(ngModel)]="authId"
        [ngbTooltip]="authIdTooltip"
        [disabled]="!isNewCredentials"
        class="form-control"
        id="authId"
        type="text">
    </div>

    <div class="form-group">
      <label [innerHTML]="authenticationTypeLabel" for="authTypes"></label>
      <span class="ml-1 label-required">*</span>
      <ng-select
        [disabled]="!isNewCredentials"
        [(ngModel)]="authType"
        [items]="authTypes"
        bindLabel="value"
        bindValue="key"
        id="authTypes">
      </ng-select>
    </div>

    <app-device-password-modal
      (passwordSecretChanged)="setSecret($event)"
      *ngIf="isPassword">
    </app-device-password-modal>

    <app-device-rpk-modal
      (rpkSecretChanged)="setSecret($event)"
      [rpkSecret]="credential.secrets[0]"
      [isNewCredentials]="isNewCredentials"
      *ngIf="isRpk">
    </app-device-rpk-modal>


  </div>

  <app-modal-footer
    (cancelButtonPressed)="onClose()"
    (confirmButtonPressed)="onConfirm()"
    [buttonDisabled]="isInvalid()"
    [confirmButtonLabel]="confirmButtonLabel">
  </app-modal-footer>

</div>
