<table class="table">
  <thead>
  <tr>
    <th class="p-2 col-6 col-sm-2">
      <span [innerHTML]="updateLabel"></span>
    </th>
    <th class="p-2 col-6 col-sm-2">
      <span [innerHTML]="dataLabel"></span>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let state of states" class="list-item">
    <td class="p-2 col-6 col-sm-2">
      <span [innerHTML]="state.updateTime | date:'medium': 'UTC'"></span>
    </td>
    <td class="p-2 col-6 col-sm-2">
      <span [innerHTML]="state.binaryData"></span>
    </td>
  </tr>
  </tbody>
</table>
