<div class="form-group">
  <div class="btn-group btn-toggle">
    <button (click)="setUsePlainPassword(true)"
            [ngClass]="usePlainPassword ? 'btn-primary active' : 'btn-primary inactive'"
            class="btn">
      <span class="caret"></span>
      <span [innerHTML]="usePlainPasswordLabel"></span>
    </button>
    <button (click)="setUsePlainPassword(false)"
            [ngClass]="usePlainPassword ? 'btn-primary inactive' : 'btn-primary active'"
            class="btn">
      <span class="caret"></span>
      <span [innerHTML]="usePasswordHashLabel"></span>
    </button>
  </div>
</div>
<div *ngIf="usePlainPassword">
  <div class="form-group">
    <label [innerHTML]="plainPasswordLabel" for="plainPassword"></label>
    <span class="ml-1 label-required">*</span>
    <input (change)="onPasswordSecretChanged()"
           (input)="onPasswordSecretChanged()"
           [(ngModel)]="passwordSecret['pwd-plain']"
           class="form-control"
           id="plainPassword"
           type="text">
  </div>
</div>
<div *ngIf="!usePlainPassword">
  <div class="form-group">
    <label [innerHTML]="hashFunctionLabel" for="hashFunction"></label>
    <span class="ml-1 label-required">*</span>
    <input (change)="onPasswordSecretChanged()"
           (input)="onPasswordSecretChanged()"
           [(ngModel)]="passwordSecret['hash-function']"
           class="form-control"
           id="hashFunction"
           type="text">
  </div>

  <div class="form-group">
    <label [innerHTML]="saltLabel" for="salt"></label>
    <input (change)="onPasswordSecretChanged()"
           (input)="onPasswordSecretChanged()"
           [(ngModel)]="passwordSecret.salt"
           class="form-control"
           id="salt"
           type="text">
  </div>

  <div class="form-group">
    <label [innerHTML]="pwdHashLabel" for="pwdHash"></label>
    <span class="ml-1 label-required">*</span>
    <input (change)="onPasswordSecretChanged()"
           (input)="onPasswordSecretChanged()"
           [(ngModel)]="passwordSecret['pwd-hash']"
           class="form-control"
           id="pwdHash"
           type="text">
  </div>
</div>

