<div class="modal-component">
  <div>
    <app-modal-head
      (closeModal)="onClose()"
      [modalTitle]="modalTitle">
    </app-modal-head>
  </div>

    <div class="modal-body">
      <div *ngIf="isDeviceFlag" class="form-group">
        <label [innerHTML]="'Device ID'" for="deviceId"></label>
        <span class="ml-1 label-required">*</span>
        <input
          [(ngModel)]="device.id"
          class="form-control"
          id="deviceId"
          type="text">

        <div class="form-check form-switch">
          <input
            [(ngModel)]="sendViaGateway"
            [checked]="sendViaGateway"
            class="form-check-input"
            id="sendViaGatewaySwitch"
            type="checkbox">
          <label [innerHTML]="'Bind to gateway(s)'" class="form-check-label" for="sendViaGatewaySwitch"></label>
        </div>
      </div>

      <div *ngIf="isGatewayFlag" class="form-group">
        <label [innerHTML]="'Gateway ID'" for="gatewayId"></label>
        <span class="ml-1 label-required">*</span>
        <input
          [(ngModel)]="device.id"
          class="form-control"
          id="gatewayId"
          type="text">
      </div>

        <div *ngIf="isBindDeviceFlag" class="alert alert-dark text-center">
          <span [innerHTML]="gatewayTooltip"></span>
        </div>

      <app-selected-devices
        [sendViaGateway]="sendViaGateway"
        [device]="device"
        [tenantId]="tenantId"
        [devices]="devices"
        [deviceListCount]="deviceListCount"
        [pageSize]="pageSize"
        [selectDevicesLabel]="selectLabel"
        (pageOffsetChanged)="onPageOffsetChanged($event)"
        (selectedDevicesChanged)="onSelectedDevicesChanged($event)">
      </app-selected-devices>
  </div>

  <app-modal-footer
    (cancelButtonPressed)="onClose()"
    (confirmButtonPressed)="onConfirm()"
    [buttonDisabled]="isInvalid()"
    [confirmButtonLabel]="'Save'">
  </app-modal-footer>
</div>

