<div class="page-header">
  <div class="page-header-title d-flex align-items-center">
    <span class="h3">Gateway List</span>
    <div>
      <div class="page-header-counts">
        <div class="count">
          <span [innerHTML]="gatewayListCount" class="badge bg-primary"></span>
          <span class="count-label">Gateways</span>
        </div>
      </div>
    </div>
  </div>

  <div class="page-functions">
    <div *ngIf="!gatewayListIsEmpty()" class="function-element me-2">
      <div class="search col-auto">
        <input (search)="searchForGateway()" [(ngModel)]="searchTerm" [placeholder]="'Search exact Gateway ID'" class="search form-control"
               id="search" type="search">
      </div>
    </div>
    <div class="function-element">
      <button (click)="createGateway()" class="btn btn-primary" type="button">
        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
        <span>Create New Gateway</span>
      </button>
    </div>
  </div>
</div>

<div *ngIf="gatewayListIsEmpty()">
  <div class="alert alert-dark text-center">
    <span>Tenant has no gateways yet to display.</span>
  </div>
</div>

<div *ngIf="!gatewayListIsEmpty()" class="card card-table-view mb-3">
  <table class="table">
    <thead>
    <tr>
      <th (sort)="onSort($event)" class="p-2 sortable" scope="col" sortable="id">
        <span>Gateway ID</span>
      </th>
      <th (sort)="onSort($event)" class="p-2 sortable" scope="col" sortable="status.created">
        <span>Created (UTC)</span>
      </th>
      <th class="p-2 ml-auto last-column">
        <span>Actions</span>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let gateway of gateways"
        class="list-item">
      <td (click)="selectGateway(gateway)" class="selectElement">
        <span [innerHTML]="gateway.id" class="p-2"></span>
      </td>
      <td class="p-2">
        <span [innerHTML]="getCreationTime(gateway.status) | date:'medium': 'UTC'"></span>
      </td>
      <td class="p-2 col-sm-1 ml-auto last-column">
        <button (click)="deleteGateway(gateway)" [ngbTooltip]="'Delete'" class="btn btn-sm btn-secondary"
                type="button">
          <fa-icon [icon]="['fas', 'trash']"></fa-icon>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<app-pagination
  (pageNumberChange)="changePage($event)"
  (pageSizeChange)="changePageSize($event)"
  [deviceListCount]="gatewayListCount"
></app-pagination>

