<table class="table">
  <thead>
  <tr>
    <th class="p-2 col-2">
      <span>Authentication type</span>
    </th>
    <th class="p-2 col-2">
      <span>Auth ID</span>
    </th>
    <th class="p-2 col-4">
      <span>Secret ID</span>
    </th>
    <th class="p-2 col-3">
      <span>Expiry time (UTC)</span>
    </th>
    <th class="p-2 col-1 ml-auto last-column">
      <span>Actions</span>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let authenticationValue of authenticationValues" class="list-item">
    <td class="p-2 col-2">
      <span [innerHTML]="getAuthenticationType(authenticationValue.type)"></span>
    </td>
    <td class="p-2 col-2">
      <span [innerHTML]="authenticationValue['auth-id']"></span>
    </td>
    <td class="p-2 col-4">
      <span [innerHTML]="authenticationValue.id"></span>
    </td>
    <td class="p-2 col-3">
      <span [innerHTML]="authenticationValue['not-after']  | date:'medium': 'UTC'"></span>
    </td>
    <td class="p-2 col-1 ml-auto last-column">
      <div [ngbTooltip]="isEditable(authenticationValue) ? 'Edit' : 'Edit not possible due to authentication method'" class="auth-btn-wrapper">
        <button (click)="edit(authenticationValue)" [disabled]="!isEditable(authenticationValue)"
          class="btn-auth btn btn-sm btn-primary" type="button">
          <fa-icon [icon]="['fas', 'pen-to-square']"></fa-icon>
        </button>
      </div>
      <button (click)="delete(authenticationValue)" [ngbTooltip]="'Delete'" class="btn btn-sm btn-secondary"
              type="button">
        <fa-icon [icon]="['fas', 'trash']"></fa-icon>
      </button>
    </td>
  </tr>
  </tbody>
</table>
