<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <img class="logo" src="../../../../assets/images/logo_300px276px.png">
    </li>
  </ol>
</nav>

<div class="page-header">
  <div class="page-header-title d-flex align-items-center">
    <span [innerHTML]="tenantListLabel" [title]="tenantListLabel" class="h3"></span>
    <div>
      <div class="page-header-counts">
        <div class="count">
          <span [innerHTML]="tenantListCount" class="badge bg-primary"></span>
          <span class="count-label">Tenants</span>
        </div>
      </div>
    </div>
  </div>

  <div class="page-functions">
    <div class="function-element" *ngIf="!tenantListIsEmpty()">
      <div class="search col-auto">
        <input [(ngModel)]="searchTerm" [placeholder]="searchLabel" class="search form-control"
               id="search" type="search">
      </div>
    </div>
    <div class="function-element" *ngIf="!tenantListIsEmpty()">
      <div class="display-items col-auto">
        <div ngbDropdown>
          <button [innerHTML]="displayedItemsDropdownButton" class="btn btn-primary"
                  id="ddDisplayedItems" ngbDropdownToggle type="button">
          </button>
          <div aria-labelledby="ddDisplayedItems" ngbDropdownMenu>
            <button (click)="setPageSize(option)"
                    *ngFor="let option of pageSizeOptions" [innerHTML]="option"
                    ngbDropdownItem
                    type="button">
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="function-element">
      <button (click)="createTenant()" class="btn btn-primary" type="button">
        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
        <span [innerHTML]="newTenantLabel"></span>
      </button>
    </div>

  </div>
</div>
<div *ngIf="tenantListIsEmpty()">
  <div class="alert alert-dark text-center">
    <span [innerHTML]="noTenantText"></span>
  </div>
</div>
<div class="card card-table-view mb-3" *ngIf="!tenantListIsEmpty()">
  <table class="table">
    <thead>
    <tr>
      <th (sort)="onSort($event)" class="sortable p-2" scope="col" sortable="id">
        <span [innerHTML]="idLabel"></span>
      </th>
      <th class="p2">
        <span [innerHTML]="messagingTypeLabel"></span>
      </th>
      <th class="p-2 ml-auto last-column">
        <span [innerHTML]="actionsLabel"></span>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tenant of (tenants | searchFilter:searchTerm)"
        class="list-item">
      <td class="selectElement p2" (click)="selectTenant(tenant)">
        <span [innerHTML]="tenant.id"></span>
      </td>
      <td class="p-2">
        <span [innerHTML]="getMessagingType(tenant.ext)"></span>
      </td>
      <td class="p-2 col-sm-1 ml-auto last-column">
        <button (click)="editTenant(tenant)" [ngbTooltip]="editLabel" class="btn btn-sm btn-primary" type="button">
          <fa-icon [icon]="['fas', 'pen-to-square']"></fa-icon>
        </button>
        <button (click)="deleteTenant(tenant)" [ngbTooltip]="deleteLabel" class="btn btn-sm btn-secondary"
                type="button">
          <fa-icon [icon]="['fas', 'trash']"></fa-icon>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<ngb-pagination
  (pageChange)="changePage($event)"
  [boundaryLinks]="true"
  [collectionSize]=" tenantListCount"
  [maxSize]="5"
  [pageSize]="pageSize"
  class="pagination d-flex justify-content-center">
</ngb-pagination>
