<div class="modal-component">
  <app-modal-head
    (closeModal)="onClose()"
    [modalTitle]="bindDevicesLabel">
  </app-modal-head>

  <div  class="modal-body" >
      <div class="alert alert-dark text-center">
        <span [innerHTML]="gatewayTooltip"></span>
      </div>

    <app-selected-devices
      [bindDevices] = "bindDevices"
      [sendViaGateway]="sendViaGateway || bindDevices"
      [device]="device"
      [tenantId]="tenantId"
      [devices]="devices"
      [deviceListCount]="deviceListCount"
      [pageSize]="pageSize"
      (pageOffsetChanged)="onPageOffsetChanged($event)"
      (selectedDevicesChanged)="onSelectedDevicesChanged($event)">
    </app-selected-devices>
  </div>

  <app-modal-footer
    (cancelButtonPressed)="onClose()"
    (confirmButtonPressed)="onConfirm()"
    [buttonDisabled]="isInvalid()"
    [confirmButtonLabel]="confirmButtonLabel">
  </app-modal-footer>

</div>
