<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/tenant-list">
        <img alt="hono-logo" class="logo" src="../../../../assets/images/logo_300px276px.png">
      </a>
    </li>
    <li class="breadcrumb-item">
      <span [innerHTML]="this.tenant.id"></span>
    </li>
  </ol>
</nav>

<div class="page-header">
  <div class="page-header-title">
    <span [innerHTML]="tenantDetail" [title]="tenantDetail" class="h3"></span>
  </div>

  <div class="page-functions small-buttons col-auto ml-auto">
    <div class="function-element">
      <button (click)="editTenant()" class="btn btn-sm btn-primary" type="button">
        <fa-icon [icon]="['fas', 'pen-to-square']"></fa-icon>
        <span>Edit</span>
      </button>
    </div>
    <div class="function-element">
      <button (click)="deleteTenant()"class="btn btn-sm btn-secondary" type="button">
        <fa-icon [icon]="['fas', 'trash']"></fa-icon>
        <span>Delete</span>
      </button>
    </div>

  </div>
</div>

<hr>

<div class="details">
  <div>
    <div class="d-inline-flex p-2 detail-label col-2">
      <span>ID: </span>
    </div>
    <div class="d-inline-flex p-2 detail-value">
      <span [innerHTML]="tenant.id"></span>
    </div>
  </div>

  <div>
    <div class="d-inline-flex p-2 detail-label col-2">
      <span>Messaging-Type:</span>
    </div>
    <div class="d-inline-flex p-2 detail-value">
      <span [innerHTML]="messagingType"></span>
    </div>
  </div>

</div>

<hr>
<div class="gateway-tabs">
  <nav #nav="ngbNav" class="nav-tabs" ngbNav>
    <ng-container ngbNavItem [ngbNavItem]="0">
      <a (click)="setActiveTab(false)" ngbNavLink>Devices</a>
      <ng-template ngbNavContent>
        <app-device-list
          [deviceListCount]="deviceListCount"
          [tenant]="tenant">
        </app-device-list>
      </ng-template>
    </ng-container>

    <ng-container  ngbNavItem [ngbNavItem]="1">
      <a (click)="setActiveTab(true)" ngbNavLink>Gateways</a>
      <ng-template ngbNavContent>
        <app-gateway-list
          [tenant]="tenant">
        </app-gateway-list>
      </ng-template>
    </ng-container>
  </nav>
</div>
<div [ngbNavOutlet]="nav" class="mt-2"></div>
