<div>
  <div class="page-header">
    <div class="page-header-title d-flex align-items-center">
      <span [innerHTML]="deviceListLabel" [title]="deviceListLabel" class="h3"></span>
      <div>
        <div class="page-header-counts">
          <div class="count">
            <span [innerHTML]="!boundDevicesToGateway ? deviceListCount : boundDeviceListCount" class="badge bg-primary"></span>
            <span class="count-label">Devices</span>
          </div>
        </div>
      </div>
    </div>

    <div class="page-functions">
      <div *ngIf="!deviceListIsEmpty()" class="function-element">
        <div class="search col-auto">
          <input [(ngModel)]="searchTerm" [placeholder]="searchLabel" class="search form-control"
                 id="search" type="search">
        </div>
      </div>
      <div *ngIf="!deviceListIsEmpty() && !boundDevicesToGateway" class="function-element">
        <div class="display-items col-auto">
          <div ngbDropdown>
            <button [innerHTML]="displayedItemsDropdownButton" class="btn btn-primary"
                    id="ddDisplayedItems" ngbDropdownToggle type="button">
            </button>
            <div aria-labelledby="ddDisplayedItems" ngbDropdownMenu>
              <button
                (click)="setPageSize(option)"
                *ngFor="let option of pageSizeOptions"
                [innerHTML]="option"
                ngbDropdownItem
                type="button">
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="function-element" *ngIf="!boundDevicesToGateway">
        <button (click)="createDevice()" [ngbTooltip]="'Create Device'" class="btn btn-primary" type="button">
          <fa-icon [icon]="['fas', 'plus']"></fa-icon>
          <span [innerHTML]="newDeviceLabel"></span>
        </button>
      </div>
      <div class="bounding" *ngIf="boundDevicesToGateway && !deviceListIsEmpty()">
        <button  [ngbTooltip]="'Bound Device'" class="btn btn-primary" type="button" (click)="bindNewDevicesToGateway(true)">
          <span [innerHTML]="bindDeviceLabel"></span>
        </button>
        <button  [ngbTooltip]="'Unbound Device'" class="btn btn-primary" type="button" (click)="unbindDevicesFromGateway(true)" [disabled]="!devicesSelected()">
          <span [innerHTML]="unBindDeviceLabel"></span>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="deviceListIsEmpty()">
    <div class="alert alert-dark text-center">
      <span [innerHTML]="noDeviceText"></span>
    </div>
  </div>

  <div *ngIf="!deviceListIsEmpty() && !boundDevicesToGateway" class="card card-table-view mb-3">
    <table class="table">
      <thead>
      <tr>
        <th (sort)="onSort($event)" class="p-2 sortable" scope="col" sortable="id">
          <span [innerHTML]="deviceIdLabel"></span>
        </th>
        <th (sort)="onSort($event)" class="p-2 sortable" scope="col" sortable="status.created">
          <span [innerHTML]="deviceCreatedLabel"></span>
        </th>
        <th class="p-2 ml-auto last-column">
          <span [innerHTML]="actionsLabel"></span>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let device of (devices | searchFilter:searchTerm)"
          class="list-item">
        <td (click)="selectDevice(device)" class="selectElement">
          <span [innerHTML]="device.id" class="p-2"></span>
        </td>
        <td class="p-2">
          <span [innerHTML]="getCreationTime(device.status) | date:'medium': 'UTC'"></span>
        </td>
        <td class="p-2 col-sm-1 ml-auto last-column">
          <button (click)="deleteDevice(device)" [ngbTooltip]="deleteLabel" class="btn btn-sm btn-secondary"
                  type="button">
            <fa-icon [icon]="['fas', 'trash']"></fa-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="!deviceListIsEmpty() && boundDevicesToGateway" class="card card-table-view mb-3">
    <table class="table">
      <thead>
      <tr>
        <th (sort)="onSort($event)" class="p-2 sortable" scope="col" sortable="id">
          <span [innerHTML]="deviceIdLabel"></span>
        </th>
        <th (sort)="onSort($event)" class="p-2 sortable" scope="col" sortable="status.created">
          <span [innerHTML]="deviceCreatedLabel"></span>
        </th>
        <th class="p-2 ml-auto last-column">
          <span [innerHTML]="actionsLabel"></span>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let device of (devices | searchFilter:searchTerm)"
          class="list-item">
        <td  class="selectElement">
          <input (click)="markDevice(device)" type="checkbox" [(ngModel)]="device.selected" class="checkmark">
          <span [innerHTML]="device.id" class="p-2"></span>
        </td>
        <td class="p-2">
          <span [innerHTML]="getCreationTime(device.status) | date:'medium': 'UTC'"></span>
        </td>
        <td class="p-2 col-sm-1 ml-auto last-column">
          <button (click)="deleteDevice(device)" [ngbTooltip]="deleteLabel" class="btn btn-sm btn-secondary"
                  type="button">
            <fa-icon [icon]="['fas', 'trash']"></fa-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
