fa-icon {
    margin-right: 0.5em;
    .fa-triangle-exclamation {
        color: orange!important;
    }
    .fa-circle-check {
        color: green!important;
    }
}

.centered {
    text-align: center;
    vertical-align: middle;
}