<div *ngIf="sendViaGateway" class="form-group">
    <div *ngIf="!selectedDevicesListEmpty()">
        <div class="card card-table-view selectedDevicesList mb-3">
            <div class="p-2 selectedDevicesItem" *ngFor="let selectedDevice of this.selectedDevices">
                <fa-icon [icon]="['fas', 'close']" (click)="unselectDevice(selectedDevice)"></fa-icon>
                <span [innerHTML]="selectedDevice.id"></span>
            </div>
        </div>
    </div>
    <div>
        <label [innerHTML]="selectDevicesLabel"></label>
        <span class="ml-1 label-required">*</span>
    </div>
    <div *ngIf="!deviceListIsEmpty()" class="function-element">
      <div class="search col-auto">
        <input [(ngModel)]="searchTerm" [placeholder]="'Search'" class="search form-control"
               id="searchDeviceList" type="search">
      </div>
    </div>
    <div class="card card-table-view mb-3">
      <table class="table">
        <tbody>
          <tr *ngFor="let device of (devices | searchFilter:searchTerm)" class="list-item">
            <td *ngIf="!device.checked" (click)="selectDevice(device)">
              <span [innerHTML]="device.id" class="p-2"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ngb-pagination
      (pageChange)="changePage($event)"
      [boundaryLinks]="true"
      [collectionSize]="deviceListCount"
      [maxSize]="5"
      [pageSize]="pageSize"
      class="pagination d-flex justify-content-center">
    </ngb-pagination>
</div>
